* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fredericka the Great';
  src: url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.woff2') format('woff2'),
      url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype'),
      url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('fonts/Great_Vibes/GreatVibes-Regular.woff2') format('woff2'),
      url('fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype'),
      url('fonts/Great_Vibes/GreatVibes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Fredericka the Great", serif;
}

h1 {
  font-family: "Great Vibes", cursive;
  color: #c59d5f;
}